:root {
  font-size: 10px;
  font-family: 'Rubik', sans-serif;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(223, 223, 255);
}
.title {
  color: black;
}
html.day body {
  background-color: rgb(223, 223, 255);
}

html.day .title {
  color: black;
}

html.night body {
  background-color: rgb(20, 20, 95);
}

html.night .title {
  color: white;
}

.finder {
  background-size: cover;
  padding: 2rem 1.5rem 17.5rem;
  text-align: center;
  position: relative;
}
.theme-box{
  display: flex;
  flex-direction: row;
  padding-bottom: 3rem;
}
.theme-box__btn{
  background-color: #141414;
  border: 1px solid rgba(54, 54, 54, 0.6);
  color:white;
  font-weight: 600;
  position: relative;
  outline: none;
  border-radius: 50px;
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 45px;
  width: 90px;
  opacity: 1;
}
.theme-box__btn-day{
  background-color: white;
  color:#141414;
}
.theme-box__btn-night{
  background-color: #141414;
  color:white;
}



@media (min-width: 1024px) {
  .finder {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
  }
  .theme-box{
    align-self: flex-start;    
  }
}



.title {
  /* color: white; */
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 3rem;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.search-bar__input {
  width: 100%;
  max-width: 500px;
  font-size: 1.8rem;
  font-weight: 700;
  background-color: white;
  color: hsl(0, 0%, 17%);
  border: none;
  outline: none;
  padding: 1.5rem 2rem;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}
.search-bar__btn {
  background-color: black;
  border: none;
  outline: none;
  color: white;
  padding: 0 1.5rem;
  border-radius: 0 10px 10px 0;
  position: relative;
  cursor: pointer;
}
.search-bar__btn:hover {
  background-color: rgb(77, 77, 77);
}
.search-bar__btn::after {
  display: block;

  content: '';
  width: 7px;
  height: 7px;
  background: transparent;
  border: 2px solid;
  border-color: white white transparent transparent;
  transform: rotate(45deg);
}

.info {
  width: calc(100% - 3rem);
  background-color: white;
  padding: 2rem;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  position: absolute;
  left: 1.5rem;
  z-index: 10000;
}
@media (min-width: 1024px) {
  .info {
    width: 100%;
    max-width: 1000px;
    /* transform: translateY(50%); */
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    
    position: relative;
  }
}

.info__block {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 25%;
  padding: 0 1rem 2rem;
  position: relative;
}
/* .info__block:not(:last-child) {
  margin-bottom: 2.5rem;
} */

.info__block-subtitle {
  color: hsl(0, 0%, 59%);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.3rem;
}
.info__block-title {
  color: hsl(0, 0%, 17%);
  font-weight: 700;
  font-size: 2rem;
}

@media (min-width: 1024px) {
  .info {
    flex-direction: row;
  }
  .info__block {
    margin-bottom: 0;
  }
  .info__block::after {
    content: '';
    width: 1px;
    height: 90%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: hsla(0, 0%, 59%, 0.3);
  }
  .info__block:last-child::after {
    display: none;
  }
  .info__block-title {
    font-size: 2.4rem;
  }
}

.notify-box {
  background: #e2e2e2;
  border: 2px solid navy;
  padding: 1rem 2rem;
  font-size: 16px;
  position: fixed;
  top: 10px;
  right: 0;
  transform: translateX(100%);
}
.show-notify{
  transform: translateX(0);
}
